.title {
  color: white;
  margin-bottom: 20px;
}
input[type="submit"] {
  padding: 5px;
  background-color: rgb(25, 156, 77);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.back {
  margin-top: 15px;
  padding: 5px;
  background-color: rgb(25, 156, 77);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.boxBack {
  display: flex;
  justify-content: center;
}
.textarea {
  height: 150px;
}
